body{
    padding: 0px;
    margin: 0px;
}
#sezione{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    height: 80px;
    font:;
}
#sezione1{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    height: 300px;
}
#sezione2{
    background-color: #a12424;
    color: white;
    width: 100%;
    height: 450px;
}
#sezione3{
    background-color: black;
    color:white;
    text-align: center;
    width: 100%;
    height: 300px;
    
}
f{
    text-align: center;
    font-size:xx-large;
}