#main{
    background-color:gray;
    color:white;
    text-align: center;
    width: auto;
    height: 500px;  
}
.in{
    height: 40px;
    width: auto;
    text-align: center;
    margin: 4px;
}
.button{
    width:auto;
}
.pri{
    color: white; 
    font-size: x-large; 
    text-align: left; 
    padding: 100px;
}
h1{
    color: white;
    margin: 90px;
    padding: 50px;
}
.title{
    font-size: x-large;
}
footer{
    background-color:  rgb(41, 41, 41);
    text-align: center;
    color: white;
}
